body{
    background-image: url(pino.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}


.titulo{
    display: block;    
    background-color: rgba(0, 0, 0, 0.697);
    font-family:'Bad Script', cursive;
    text-align: center;    
    border-top: 5px;
    font-size: 50px;
    color:rgb(237, 207, 168)
    
}
/*h2{
    font-family:"Sofia", sans-serif;
    text-align: left;
    font-size: 35px;
    color:rgb(206, 143, 61)
}*/

/* #cocina1{
    height: 10cm;
    width: 10cm;
    border-radius: 10%;
    padding: 5cm;
    size: 5cm;
    border-color: brown;
    
}
#cocina2{
    height: 600px;
    width: 600;
    border-radius: 10%;
    padding: 5cm;
    resize: both;
    border-color: brown
} */
 /*c{
    border-radius: 35%;
    width: 300px;;
 }
/*div {
    
    background-color:madera;
    viewport-fit: 50%;
    border-width: 50;
    
}*/
/* nav{
    float: right;
        
}
nav ul li{
  list-style: none;
  margin-left: 75px;
  padding: 25px 0;
  float: left;
} */
/*. a {
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    font-family: 'Bad Script', cursive;
    color: rgba(0, 0, 0, 0.864);
    margin-right: 2%;
}*/

/*.container-fluid img{
    width: auto;
}*/
.logo{
    width: 80px;
     
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    font-family:'Bad Script', cursive;

}
.container-nav{
    display:flex;
    justify-content: right;
    width: 100%; 
     
}
.nav-link{
    margin-left: 50px;
}

.carousel{
    width: 70%;
    margin-left: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
    border: 16px outset black;
    justify-content: center;

    
}
.container1{
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.697);
    color: aliceblue;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 300px;
    font-family:'Bad Script', cursive;   
    flex-wrap: wrap-reverse;
    
}
.seguinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Redes {
    font-size: 25px;  
       
    
}
.direccion{
    padding-top: 2%;
    text-align: center;
}
.enlace {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    background-color:black;         
    border-radius: 5px;
    padding-inline: 58px;
    justify-content: center;
    margin: 5px;
    width: 70%;  
        
}
.galeria{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    
}

.galeria a{
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    cursor: pointer;
    transform: scale(1.05);
    
}    

.mapa{
    font-size: 30px;
    color:blueviolet;
    text-align: center; 
}


.container2{
    text-align: center;  
    color: rgba(24, 11, 11, 0.848);
    padding-top: 2%;
    padding-bottom: 2%;
}
footer1 img{
    float: left;
}